* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: dm sans, Sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
}
.card-container {
  display: flex;
  align-items: center;
  width: 90%;
}
.card {
  width: 30%;
  height: 530px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  overflow: hidden;
}
.image-box {
  height: 200px;
}
.image-box img {
  width: 100%;
}
.hotel-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 5px;
}
